nav.navigate.clearfix
    .navigate__left
        a.navigate__back(href='#/' ng-if='!nav.btnAdd')
            span.icon.glyphicon.glyphicon-menu-left(aria-hidden="true")
        a.navigate__btn(href='#/contact/add' ng-if='nav.btnAdd')
            .btn.btn-default Добавить
    .navigate__right(ng-if='nav.btnAdd')
        .navigate__view(ng-click='nav.clickList()')
            span.icon.glyphicon.glyphicon-list(aria-hidden="true")
        .navigate__view(ng-click='nav.clickGrid()')
            span.icon.glyphicon.glyphicon-list(aria-hidden="true")
